@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #D2D4C6;
  --foreground: #1F203F;
  --kik: #4D509D;
  --foregroundFade: #4D509D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



/* styles/globals.css */
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.appear-animation {
  animation: slideInFromRight 0.5s ease-out forwards;
}


@keyframes wiggle {
  0%, 100% {
      transform: rotate(0deg);
  }
  25% {
      transform: rotate(5deg);
  }
  50% {
      transform: rotate(-5deg);
  }
  75% {
      transform: rotate(5deg);
  }
}

.wiggle1 {
  animation: wiggle 0.5s infinite;
}

.wiggle2 {
  animation: wiggle 0.5s infinite;
  animation-delay: 0.1s;
}

.wiggle3 {
  animation: wiggle 0.5s infinite;
  animation-delay: 0.2s;
}

.wiggle4 {
  animation: wiggle 0.5s infinite;
  animation-delay: 0.3s;
}